<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Band-generator</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Band-name-generator</h1>
    <h2>Your Band name: <%= bandName %></h2>
    <a href="/">Generate Name</a>
<br>
<br>
<footer><h4>Created by Tushar on <%= new Date().getFullYear() %></h4></footer>

</body>

</html>